@page "/"
@rendermode InteractiveServer 

<PageTitle>Home</PageTitle>

<div class="container" style="margin-bottom:15px;">
    <InputText @bind-Value="searchText"> </InputText>
    <button @onclick="OnFilter">Поиск</button>

    <InputSelect @bind-Value="searchSex">
        <option value="">Не определён</option>
        <option value="Муж">Муж</option>
        <option value="Жен">Жен</option>
    </InputSelect>

    <button @onclick="ShowModal">Добавить пациента</button>
</div>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">№</th>
            <th scope="col">Фамилия</th>
            <th scope="col">Имя</th>
            <th scope="col">Отчество</th>
            <th scope="col">Пол</th>
            <th scope="col">Дата рождения</th>
            <th scope="col">ID пациента</th>
            @*  <th scope="col">Исследование</th>
            <th scope="col">Доза</th>
            <th scope="col">Снимков/серий</th>
            <th scope="col">Дата исс-я</th>
            <th scope="col">Категория</th>
            <th scope="col">Диагноз</th>
            <th scope="col">Патология</th>
            <th scope="col">Стоимость</th>
            <th scope="col">Врач</th>
            <th scope="col">Лаборант</th>
            <th scope="col">Модальность</th>
            <th scope="col">В операционной</th>
            <th scope="col">Контраст</th> *@
        </tr>
    </thead>
    <tbody>
        @foreach (var p in selectedPatients)
        {
            <MainTable Patient="p"></MainTable>
        }
        @*  @foreach (var e in XRayService.GetAllExams())
        {
            <MainTable Exam="e"></MainTable>
        } *@
    </tbody>
</table>
@if (isModalShowed)
{
    <div class="modal show d-block fade" style="background-color: rgba(0,0,0,0.5);" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Добавить пациента</h5>
                    <button type="button" class="btn-close" @onclick="HideModal"></button>
                </div>
                <EditForm Model="patient" OnValidSubmit="OnSubmit">
                    <DataAnnotationsValidator></DataAnnotationsValidator>
                    <div class="modal-body">
                        <div>
                            <span>Фамилия</span>
                            <InputText @bind-Value="patient.SecondName"/>
                            <ValidationMessage For="()=>patient.SecondName"/>
                        </div>
                        <div>
                            <span>Имя</span>
                            <InputText @bind-Value="patient.FirstName"/>
                            <ValidationMessage For="()=>patient.FirstName"/>
                        </div>
                        <div>
                            <span>Отчество</span>
                            <InputText @bind-Value="patient.ThirdName"/>
                            <ValidationMessage For="()=>patient.ThirdName"/>
                        </div>
                        <div>
                            <span>Дата рождения</span>
                            <InputDate @bind-Value="patient.BirthDate"/>
                        </div>
                        <div>
                            <span>Пол</span>
                            <InputSelect @bind-Value="patient.Sex">
                                <option value="Иное">Не определён</option>
                                <option value="Муж">Муж</option>
                                <option value="Жен">Жен</option>
                            </InputSelect>
                        </div>
                        <div>
                            <span>Номер карты</span>
                            <InputText @bind-Value="patient.MedNumber"/>
                            <ValidationMessage For="()=>patient.MedNumber"/>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" @onclick="HideModal">Закрыть</button>
                        <button type="submit" class="btn btn-primary">Сохранить</button>
                    </div>
                </EditForm>
            </div>
        </div>
    </div>

}
@code{
    [Inject] 
    public PatientService PatientService { get; set; }

    // [Inject] 
    // public XRayExamService XRayService { get; set; }

    private string searchText;
    private string searchSex;

    private List<PatientOutputModel> patients;

    private List<PatientOutputModel> selectedPatients;

    private bool isModalShowed;

    private PatientInputModel patient;

    protected override void OnInitialized()
    {
        patients = PatientService.GetAll();
        selectedPatients = patients;
        searchText = "";
        isModalShowed = false;
    }

    private void OnFilter()
    {
        string tmp = searchText.Trim().ToLower();
        selectedPatients = patients.Where(p => p.SecondName.ToLower().Contains(tmp)).ToList();

        // selectedPatients = patients.Where(p => p.SecondName.ToLower().Contains(tmp)).ToList();
        // selectedPatients = patients.Where(p => p.FirstName.ToLower().Contains(tmp)).ToList();
        // selectedPatients = patients.Where(p => p.ThirdName.ToLower().Contains(tmp)).ToList();
        // selectedPatients = patients.Where(p => p.MedNumber.ToLower().Contains(tmp)).ToList();
        // selectedPatients = patients.Where(p => p.BirthDate.ToString().Contains(tmp)).ToList();

        // if (searchSex!="Не определён")
        // {
        //     string a = searchSex.Trim().ToLower();
        //     selectedPatients = selectedPatients.Where(p => p.Sex.ToLower().Contains(a)).ToList(); 
        // }

        StateHasChanged();
    }

    private void ShowModal()
    {
        patient = new PatientInputModel()
        {
            Sex = "Иное",
        };
        isModalShowed = true;
    }
    private void HideModal()
    {
        isModalShowed = false;
    }

    private void OnSubmit()
    {
        var tmp = PatientService.Add(patient);
        patients.Add(tmp);

        HideModal();

        StateHasChanged();
    }
} 